/*색상 변수*/
$black1: #212121;
$black2: #707070;
$black3: #868686;
$black4: #a8a8a8;
$black5: #e2e2e2;

$blue1: #001881;
$blue2: #005ec5;
$blue3: #00b7ff;
$blue4: #e6faff;

$yellow1: #ffd458;
$yellow2: #f7971e;

$red1: #ff0045;

$green1: #8ed819;
$green2: #1ab861;

$purple1: #8d2bf5;

$white: #fff;