@charset "UTF-8";
/*색상 변수*/
* {
  scroll-behavior: smooth;
}

.MainTop {
  background: linear-gradient(180deg, #008be2 0%, #0f3fa6 100%);
}
.MainTop .TopCont h2 {
  margin-top: 132px;
}
.MainTop .TopCont h3 {
  margin-top: 12px;
}
.MainTop .TopCont .InputWrapper {
  margin-top: 32px;
}
.MainTop .TopBgCharacter {
  position: absolute;
  max-width: 1075px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  mix-blend-mode: soft-light;
  background-image: url("/assets/images/Profile1.png"), url("/assets/images/Profile3.png");
  background-size: 400px 400px;
  background-repeat: no-repeat;
  background-position: left bottom, right bottom;
}

.PostList {
  background-color: #f6f7fb;
}
.PostList h4 {
  padding-top: 174px;
  padding-bottom: 10px;
  font-size: 26px;
  font-weight: 700;
  color: #212121;
}
.PostList p {
  font-size: 18px;
  font-weight: 400;
  color: #868686;
}

.SectionWrap850 {
  max-width: 850px;
  margin: auto;
  position: relative;
}

.FilterWrapper {
  position: absolute;
  top: -42px;
  width: 100%;
  max-width: 850px;
  padding: 20px 10px 34px 25px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.FilterWrapper.Fixed {
  position: fixed;
  top: 10px;
}
.FilterWrapper button {
  width: 120px;
  height: 30px;
  font-size: 14px;
  padding: 0;
  position: absolute;
  bottom: -15px;
  left: calc(50% - 60px);
  justify-self: end;
}

.FliterListWrapper {
  display: flex;
}

.FilterPostBox,
.FilterCategoryBox {
  display: inline-block;
  height: 60px;
}

.FilterPostBox {
  width: 328px;
  border-right: 1px solid #e2e2e2;
}
.FilterPostBox .FilterLabel {
  width: 88px;
}

.FilterCategoryBox {
  width: calc(100% - 375px);
  padding-left: 42px;
}
.FilterCategoryBox .FilterLabel {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 16px;
}

.FilterList {
  display: flex;
  flex-wrap: wrap;
}
.FilterList li {
  margin-right: 8px;
  margin-bottom: 14px;
}

.FilterInput:checked ~ .FilterLabel.Common {
  background-color: #00b7ff;
  border-color: transparent;
  color: #fff;
}
.FilterInput:checked ~ .FilterLabel.Study {
  background-color: #001881;
  border-color: transparent;
  color: #fff;
}
.FilterInput:checked ~ .FilterLabel.Hobby {
  background-color: #f7971e;
  border-color: transparent;
  color: #fff;
}

.FilterLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  border: 1px solid #e2e2e2;
  border-radius: 14px;
  font-size: 12px;
  font-weight: 500;
  color: #868686;
  cursor: pointer;
  transition: 0.2s;
  box-sizing: border-box;
}
.FilterLabel:hover.Common {
  border-color: #212121;
  color: #212121;
}
.FilterLabel:hover.Study {
  border-color: #001881;
  color: #001881;
}
.FilterLabel:hover.Hobby {
  border-color: #f7971e;
  color: #f7971e;
}

.FilterChecked {
  padding-top: 20px;
  padding-bottom: 42px;
  display: flex;
  flex-wrap: wrap;
}
.FilterChecked li {
  margin-right: 6px;
  margin-bottom: 6px;
}

.FilterChecked span,
.FilterCheckedMobile span {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: 24px;
  padding: 0 16px;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  border-radius: 14px;
}
.FilterChecked span.Common,
.FilterCheckedMobile span.Common {
  background-color: #00b7ff;
}
.FilterChecked span.Study,
.FilterCheckedMobile span.Study {
  background-color: #001881;
}
.FilterChecked span.Hobby,
.FilterCheckedMobile span.Hobby {
  background-color: #f7971e;
}

.PostWrapper li {
  padding-bottom: 14px;
}
.PostWrapper li.noContent {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.PostWrapper li.noContent p {
  color: #000;
  font-size: 16px;
  line-height: 1.8;
}
.PostWrapper li.noContent p em {
  font-size: 20px;
  font-weight: 700;
}
.PostWrapper li.noContent .ButtonFull3 {
  width: 200px;
}
@media screen and (max-width: 820px) {
  .PostWrapper li.noContent p {
    font-size: 14px;
  }
}

aside {
  width: 100%;
  height: 188px;
  background-color: #a8a8a8;
}

.FilterHead {
  display: none;
}

@media screen and (max-width: 820px) {
  .MainTop .TopCont h2 {
    margin-top: 70px;
  }
  .MainTop .TopBgCharacter {
    background-image: url("/assets/images/Profile3.png");
    background-size: 240px;
    background-position: right bottom;
  }
  .FilterChecked {
    display: none;
  }
  .FilterWrapper {
    top: 0;
    left: 0;
    display: block;
    background-color: #fff;
    padding: 0%;
    border-radius: 0;
  }
  .FilterWrapper.Fixed {
    top: 60px;
  }
  .FilterHead {
    border-bottom: 1px solid #e2e2e2;
    height: 48px;
    display: flex;
  }
  .FilterHead .FilterButton {
    min-width: 100px;
    border-right: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
  }
  .FilterHead .FilterButton .FilterArrow {
    display: block;
    background: url("/assets/images/FilterArrow.png") no-repeat;
    background-size: 100%;
    width: 11px;
    height: 6px;
    margin-left: 15px;
  }
  .FilterHead .FilterButton .FilterArrow.On {
    transform: rotate(180deg);
  }
  .FilterHead .FilterCheckedWrapper {
    width: 100%;
    overflow-x: auto;
  }
  .FilterHead .FilterCheckedWrapper::-webkit-scrollbar {
    display: none;
  }
  .FilterHead .FilterCheckedMobile {
    display: flex;
    align-items: center;
    border: none;
    padding-left: 8px;
    width: auto;
    height: 100%;
    flex-wrap: nowrap;
  }
  .FilterHead .FilterCheckedMobile li {
    margin-right: 8px;
  }
  .FilterHead .FilterCheckedMobile span {
    white-space: nowrap;
  }
  .FliterListWrapper {
    height: 0;
    overflow: hidden;
    position: relative;
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .FliterListWrapper.On {
    height: 322px;
  }
  .FliterListWrapper .FilterLabel {
    width: -moz-fit-content;
    width: fit-content;
    background: none !important;
    border-radius: 0;
    border: none;
    font-size: 13px;
    margin-right: 24px;
    margin-bottom: 0;
  }
  .FilterPostBox,
  .FilterCategoryBox {
    display: block;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    height: auto;
  }
  .FilterPostBox .FilterList {
    height: 60px;
    border-bottom: 1px solid #e2e2e2;
  }
  .FilterCategoryBox .FilterLabel {
    padding: 0;
    margin-top: 18px;
  }
  .FilterCategoryBox .FilterLabel:hover {
    color: #868686;
  }
  .FilterList {
    align-items: center;
  }
  .FilterList li {
    margin-bottom: 0;
    margin-right: 0;
  }
  .FilterInput:checked ~ .FilterLabel.Common {
    color: #00b7ff;
  }
  .FilterInput:checked ~ .FilterLabel.Study {
    color: #001881;
  }
  .FilterInput:checked ~ .FilterLabel.Hobby {
    color: #f7971e;
  }
  .FilterWrapper button {
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    border-radius: 0;
    font-size: 15px;
  }
  .PostList .SectionWrap850 > h4 {
    padding-top: 96px;
    font-size: 22px;
  }
  .PostList .SectionWrap850 > p {
    margin-bottom: 24px;
    font-size: 16px;
  }
  .SectionWrap850 {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 300px) {
  .SectionWrap850 {
    padding: 0 10px;
  }
}/*# sourceMappingURL=postlist.css.map */