@charset "UTF-8";
/*색상 변수*/
section.MainTop {
  height: 110px;
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
}
section.MainTop .ButtonIntro {
  top: 32px;
}

div.TopCont {
  max-width: 850px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
div.TopCont h2 {
  font-size: 24px;
  font-weight: 800;
  display: flex;
  align-items: center;
  color: #212121;
}
div.TopCont h2 a {
  display: block;
  background-image: url("/assets/images/IconNavArrow_Big.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 1px;
  width: 8px;
  height: 18px;
  margin-right: 20px;
}
div.TopCont .InputWrapper {
  margin: 60px 0;
}

.SectionWrap850 {
  display: flex;
  flex-direction: column;
}

.PostDetail,
.PostMember {
  background-color: #f6f7fb;
}

.PostDetail {
  padding: 60px 0 80px;
}
.PostDetail ul {
  display: flex;
  align-items: center;
}
.PostDetail ul li {
  color: #a8a8a8;
  font-weight: 500;
}
.PostDetail ul:nth-of-type(1) {
  position: relative;
  gap: 20px;
}
.PostDetail ul:nth-of-type(1) li {
  font-size: 18px;
}
.PostDetail ul:nth-of-type(1) li .ProfileWrapper {
  width: 56px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  background-color: #00b7ff;
  cursor: pointer;
}
.PostDetail ul:nth-of-type(1) li .ProfileWrapper img {
  width: 100%;
}
.PostDetail ul:nth-of-type(1) li:nth-child(2) {
  color: #212121;
  font-weight: 700;
}
.PostDetail ul:nth-of-type(1) li:nth-child(3) {
  font-size: 20px;
  font-weight: 800;
}
.PostDetail ul:nth-of-type(1) li:nth-child(3):not(.Disabled) {
  color: #00b7ff;
}
.PostDetail ul:nth-of-type(2) {
  margin: 4px 0 0;
  gap: 8px;
}
.PostDetail ul:nth-of-type(2) li:first-child {
  margin-right: auto;
}
.PostDetail ul:nth-of-type(2) li:first-child h4 {
  font-size: 24px;
  line-height: 2.5;
  color: #212121;
}
.PostDetail ul:nth-of-type(2) li:not(:first-child) {
  min-width: 78px;
}
.PostDetail ul:nth-of-type(2) li:not(:first-child) .ButtonStar {
  background-image: url("/assets/images/ButtonStar.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 50%;
  transition: 0.3s;
}
.PostDetail ul:nth-of-type(2) li:not(:first-child) .ButtonStar.On {
  background-image: url("/assets/images/ButtonStarOn.png");
}
.PostDetail ul:nth-of-type(3) {
  gap: 15px;
}
.PostDetail ul:nth-of-type(3) li {
  font-size: 16px;
}
.PostDetail ul:nth-of-type(3) li:nth-child(1) {
  font-weight: 800;
}
.PostDetail ul:nth-of-type(3) li:nth-child(1).Study {
  color: #005ec5;
}
.PostDetail ul:nth-of-type(3) li:nth-child(1).Hobby {
  color: #f7971e;
}

.textarea {
  margin-top: 50px;
  height: 600px;
}
.textarea textarea {
  font-size: 18px;
  line-height: 1.6;
}

.PostMember {
  padding-bottom: 80px;
}
.PostMember h5 {
  font-size: 24px;
  font-weight: 800;
}
.PostMember h5:nth-of-type(2) {
  margin-top: 60px;
}
.PostMember h6 {
  font-size: 16px;
  color: #868686;
  margin-top: 10px;
  font-weight: 600;
}
.PostMember ul {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.PostMember li {
  display: flex;
  align-items: center;
  gap: 14px;
}
.PostMember li.leader p.name::after {
  content: "";
  display: block;
  aspect-ratio: 56/53;
  position: absolute;
  right: -30px;
  top: 0;
  width: 20px;
  background: url("/assets/images/IconFlag.png") no-repeat center/cover;
}
.PostMember .ProfileWrapper {
  width: 48px;
  min-width: 48px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.PostMember .ProfileWrapper img {
  width: 100%;
}
.PostMember .InfoWrapper p.name {
  font-size: 18px;
  font-weight: 700;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.PostMember .InfoWrapper p.desc {
  font-size: 15px;
  color: #868686;
  margin-top: 4px;
}

.TitleMobile {
  display: none;
}

@media screen and (max-width: 820px) {
  section.MainTop .ButtonIntro {
    top: 22px;
  }
  div.TopCont {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100% - 40px);
  }
  div.TopCont h2 {
    order: 1;
    font-size: 18px;
  }
  div.TopCont h2::before {
    background-position: 0 1px;
    margin-right: 12px;
  }
  div.TopCont .InputWrapper {
    margin: 17px 0 12px;
    width: calc(100% - 50px);
  }
  div.TopCont .InputWrapper img {
    margin-left: 16px;
  }
  .PostDetail {
    padding: 42px 0 40px;
  }
  .PostDetail .ProfileToolTip {
    top: 0;
    bottom: initial;
  }
  .PostDetail .TitleMobile {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 14px;
    display: block;
  }
  .PostDetail ul:nth-of-type(1) {
    margin-bottom: 16px;
    gap: 16px;
  }
  .PostDetail ul:nth-of-type(1) li {
    font-size: 15px;
  }
  .PostDetail ul:nth-of-type(1) li .ProfileWrapper {
    width: 48px;
  }
  .PostDetail ul:nth-of-type(1) li:nth-child(2) {
    font-weight: 700;
  }
  .PostDetail ul:nth-of-type(1) li:nth-child(3) {
    font-size: 18px;
  }
  .PostDetail ul:nth-of-type(2) {
    order: 1;
    margin: 14px 0;
    gap: 10px;
  }
  .PostDetail ul:nth-of-type(2) li:first-child {
    display: none;
  }
  .PostDetail ul:nth-of-type(2) li:not(:first-child) {
    width: 100%;
  }
  .PostDetail ul:nth-of-type(3) li {
    font-size: 14px;
  }
  .PostDetail .textarea {
    margin-top: 20px;
    height: 380px;
  }
  .PostDetail .textarea textarea {
    font-size: 16px;
  }
  .PostMember {
    padding-bottom: 60px;
  }
  .PostMember h5 {
    font-size: 20px;
  }
  .PostMember h5:nth-of-type(2) {
    margin-top: 50px;
  }
  .PostMember h6 {
    font-size: 15px;
    margin-top: 8px;
  }
  .PostMember ul {
    margin-top: 24px;
    gap: 20px;
  }
  .PostMember .InfoWrapper p.name {
    font-size: 16px;
  }
  .PostMember .InfoWrapper p.desc {
    font-size: 14px;
  }
}
@media screen and (max-width: 300px) {
  div.TopCont {
    width: calc(100% - 20px);
  }
  .PostDetail ul:nth-of-type(1) {
    gap: 14px;
  }
  .PostDetail ul:nth-of-type(3) {
    gap: 10px;
  }
  .PostDetail ul:nth-of-type(3) li {
    font-size: 13px;
  }
}/*# sourceMappingURL=postdetail.css.map */