@import "../varients";

section.MainTop {
  height: 110px;
  background-color: $white;
  border-bottom: 1px solid $black5;

  .ButtonIntro {
    top: 32px;
  }
}

div.TopCont {
  max-width: 850px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;

  h2 {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: $black1;

    a {
      display: block;
      background-image: url("/assets/images/IconNavArrow_Big.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: 0 1px;
      width: 8px;
      height: 18px;
      margin-right: 20px;
    }
  }

  .InputWrapper {
    margin: 60px 0;
  }
}

.SectionWrap850 {
  display: flex;
  flex-direction: column;
}

.PostDetail,
.PostMember {
  background-color: #f6f7fb;
}

.PostDetail {
  padding: 60px 0 80px;

  ul {
    display: flex;
    align-items: center;

    li {
      color: $black4;
      font-weight: 400;
    }

    &:nth-of-type(1) {
      position: relative;
      gap: 20px;

      li {
        font-size: 18px;

        .ProfileWrapper {
          width: 56px;
          aspect-ratio: 1;
          border-radius: 50%;
          overflow: hidden;
          background-color: #00b7ff;
          cursor: pointer;

          img {
            width: 100%;
          }
        }

        &:nth-child(2) {
          color: $black1;
          font-weight: 500;
        }

        &:nth-child(3) {
          font-size: 20px;
          font-weight: 700;

          &:not(.Disabled) {
            color: $blue3;
          }
        }
      }
    }

    &:nth-of-type(2) {
      margin: 4px 0 0;
      gap: 8px;

      li {
        &:first-child {
          margin-right: auto;

          h4 {
            font-size: 24px;
            line-height: 2.5;
            color: $black1;
          }
        }

        &:not(:first-child) {
          min-width: 78px;

          .ButtonStar {
            background-image: url("/assets/images/ButtonStar.png");
            background-repeat: no-repeat;
            background-size: 30px;
            background-position: 50%;
            transition: 0.3s;

            &.On {
              background-image: url("/assets/images/ButtonStarOn.png");
            }
          }
        }
      }
    }

    &:nth-of-type(3) {
      gap: 15px;

      li {
        font-size: 16px;

        &:nth-child(1) {
          font-weight: 700;

          &.Study {
            color: $blue2;
          }

          &.Hobby {
            color: $yellow2;
          }
        }
      }
    }
  }
}

.textarea {
  margin-top: 50px;
  height: 600px;

  textarea {
    font-size: 18px;
    line-height: 1.6;
  }
}

.PostMember {
  padding-bottom: 80px;

  h5 {
    font-size: 24px;
    font-weight: 700;

    &:nth-of-type(2) {
      margin-top: 60px;
    }
  }

  h6 {
    font-size: 16px;
    color: $black3;
    margin-top: 10px;
    font-weight: 500;
  }

  ul {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  li {
    display: flex;
    align-items: center;
    gap: 14px;

    &.leader p.name::after {
      content: "";
      display: block;
      aspect-ratio: 56/53;
      position: absolute;
      right: -30px;
      top: 0;
      width: 20px;
      background: url("/assets/images/IconFlag.png") no-repeat center/cover;
    }
  }

  .ProfileWrapper {
    width: 48px;
    min-width: 48px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
    }
  }

  .InfoWrapper {
    p.name {
      font-size: 18px;
      font-weight: 500;
      position: relative;
      width: fit-content;
    }
    p.desc {
      font-size: 15px;
      color: $black3;
      margin-top: 4px;
    }
  }
}

.TitleMobile {
  display: none;
}

@media screen and (max-width: 820px) {
  section.MainTop .ButtonIntro {
    top: 22px;
  }

  div.TopCont {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100% - 40px);

    h2 {
      order: 1;
      font-size: 18px;

      &::before {
        background-position: 0 1px;
        margin-right: 12px;
      }
    }

    .InputWrapper {
      margin: 17px 0 12px;
      width: calc(100% - 50px);

      img {
        margin-left: 16px;
      }
    }
  }

  .PostDetail {
    padding: 42px 0 40px;

    .ProfileToolTip {
      top: 0;
      bottom: initial;
    }

    .TitleMobile {
      font-size: 22px;
      line-height: 1.5;
      margin-bottom: 14px;
      display: block;
    }

    ul {
      &:nth-of-type(1) {
        margin-bottom: 16px;
        gap: 16px;

        li {
          font-size: 15px;

          .ProfileWrapper {
            width: 48px;
          }

          &:nth-child(2) {
            font-weight: 500;
          }

          &:nth-child(3) {
            font-size: 18px;
          }
        }
      }

      &:nth-of-type(2) {
        order: 1;
        margin: 14px 0;
        gap: 10px;

        li {
          &:first-child {
            display: none;
          }

          &:not(:first-child) {
            width: 100%;
          }
        }
      }

      &:nth-of-type(3) li {
        font-size: 14px;
      }
    }

    .textarea {
      margin-top: 20px;
      height: 380px;

      textarea {
        font-size: 16px;
      }
    }
  }

  .PostMember {
    padding-bottom: 60px;

    h5 {
      font-size: 20px;

      &:nth-of-type(2) {
        margin-top: 50px;
      }
    }
    h6 {
      font-size: 15px;
      margin-top: 8px;
    }
    ul {
      margin-top: 24px;
      gap: 20px;
    }

    .InfoWrapper {
      p.name {
        font-size: 16px;
      }
      p.desc {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 300px) {
  div.TopCont {
    width: calc(100% - 20px);
  }

  .PostDetail {
    ul {
      &:nth-of-type(1) {
        gap: 14px;
      }

      &:nth-of-type(3) {
        gap: 10px;

        li {
          font-size: 13px;
        }
      }
    }
  }
}
